body{
    background-color: #99627A;
}
@font-face {
    font-family: Cece;
    src: url('fontcu.otf');
}
h1{
    text-align: center;
    font-family: Cece;
    font-size: 30pt;
    color:#643843;
    text-shadow: 2px 2px 5px black;
}
img{
    text-align: left;
    width: 9%;
}